p.ten {
    margin-top: 15px;
    margin-left: 40px;
}
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
p.m {
    margin-top: 15px;
}
img {
    width: 400px;
    height: 200px;
}